.page{
    position: relative;
    &.bg_grey{
        
    }
    
    &__header{
        background-color: #fff;
        height: 680px;
        position: relative;
        overflow-x: hidden;

        &::before{
            content: "";
            background-color: #e9eeee;
            display: block;
            width: 25%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
    
            @include is-sp{
                width: 100%;
                height: 390px;
                display: none;
            }
        }

        @include is-sp{
            height: auto;
            padding-bottom: 50px;
        }
        .header_container{
            position: relative;
            z-index: 1;
            max-width: 1400px;
            margin: 0 auto;
            height: 100%;

            &::before{
                content: "";
                background-color: #e9eeee;
                display: block;
                width: 330px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
    
                @include is-sp{
                    width: 100%;
                    height: 390px;
                }
            }

            .l-wrap{
                position: relative;
                .head_cont{
                    text-align: center;
                    
                    .head_cont_1{
                        p{
                            font-family: noto-sans-cjk-jp, sans-serif;
                            font-weight: 300;
                            @include font-line(20);
                            color: #006795;
                            letter-spacing: 0.5em;
                            padding-top: 70px;
                            @include is-sp{
                                @include font-line(16);
                                color: #006795;
                                letter-spacing: 0.3em;
                                text-align: right;
                                padding-top: 50px;
                                padding-bottom: 50px;
                            }

                            .br_sp{
                                display: none;
                                @include is-sp{
                                    display: block;
                                }
                            }
                        }

                        img{
                            padding-top: 25px;
                            padding-bottom: 70px;

                            @include is-sp{
                                padding-bottom: 60px;
                                display: none;
                            }
                        }
                    }
                    .head_cont_2{
                        img{
                            width: 360px;
                        }
                        p{
                            padding-top: 10px;
                            span{
                                font-family: noto-sans-cjk-jp, sans-serif;
                                font-weight: 700;
                                @include font-line(42, 69.3);
                                color: #006795;
                                letter-spacing: 0.2em;
                                background: linear-gradient(0deg, #fafa00 0%, #fafa00 30%, rgba(255, 255, 255, 0) 30%);

                                @include is-max(461px){
                                    @include font-line(32, 69.3);
                                    letter-spacing: 0.1em;
                                }

                                @include is-max(370px){
                                    letter-spacing: 0;
                                }
                            }
                        }
                    }
                }
                .head_desc{
                    position: relative;
                    width: 630px;
                    margin: 60px 0 0 345px;

                    @include is-max(1000px){
                        margin: 60px 40px 0 auto;
                    }

                    @include is-max(1000px){
                        margin: 60px auto 0 auto;
                    }

                    @include is-sp{
                        width: 59%;
                        margin: 60px auto 0 0;
                    }

                    @include is-max(375px){
                        width: 60%;
                        margin: 80px auto 0 0;
                    }
                
                    p{
                        font-family: noto-sans-cjk-jp, sans-serif;
                        font-weight: 400;
                        @include font-line(18, 36);
                        color: #006795;

                        @include is-max(480px){
                            font-size: 3.750vw;
                        }
                    }

                    .head_txt_img_1_pc{
                        width: 140px;
                        height: 140px;
                        position: absolute;
                        right: 45px;
                        top: -150px;

                        @include is-max(1000px){
                            right: -45px;
                        }
                        @include is-sp{
                            display: none;
                        }
                    }
                }
                .rakue_img{
                    width: 404px;
                    height: 604px;
                    position: absolute;
                    top: 0;
                    right: -90px;
                    z-index: -1;

                    @include is-sp{
                        width: 208px;
                        height: 312px;
                        top: 390px;
                        right: 0;
                    }

                    @include is-max(480px){
                        width: 40%;
                        height: auto;
                    }
                }
                .rakue_chair{
                    width: 260px;
                    height: 230px;
                    position: absolute;
                    bottom: -20px;
                    left: 40px;
                    z-index: -1;

                    @include is-max(1000px){
                        display: none;
                    }
                }
                .head_txt_img_2{
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    left: 90px;
                    top: 200px;

                    @include is-max(1000px){
                        left: 30px;
                    }

                    @include is-max(900px){
                        width: 20%;
                        height: auto;
                    }

                    @include is-sp{
                        width: 150px;
                        height: 150px;
                        top: 20px;
                        left: 30px;
                    }

                    @include is-max(470px){
                        width: 25%;
                        height: auto;
                        top: 20px;
                        left: 30px;
                    }

                    @include is-max(420px){
                        width: 25%;
                        height: auto;
                        top: 20px;
                        left: 10px;
                    }
                    @include is-max(390px){
                        width: 25%;
                        height: auto;
                        top: 110px;
                        left: 10px;
                    }
                    @include is-max(330px){
                        top: 120px;
                    }
                }

                .head_txt_img_1_sp{
                    display: none;

                    @include is-sp{
                        display: block;
                        width: 140px;
                        height: 140px;
                        position: absolute;
                        right: 80px;
                        top: 600px;
                    }

                    @include is-max(500px){
                        right: 50px;
                        top: 645px;
                    }

                    @include is-max(480px){
                        width: 27%;
                        height: auto;
                        right: 10%;
                        top: 80%;
                    }

                    @include is-max(375px){
                        top: 82%;
                    }

                }
            }
        }
    }
}