.sect_4 {
	position: relative;
	padding-top: 70px;
	padding-bottom: 75px;

	@include is-sp {
		padding-top: 55px;
		padding-bottom: 70px;
	}

	.l-wrap {
		@include is-max(1090px) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.bg_overlay {
		background-color: #e9eeee;
		content: "";
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 330px;
		top: 0;
		right: 0;

		@include is-sp {
			display: none;
		}
	}

	&__heading-title {
		@include font-line(32);
		font-weight: 700;
		text-align: center;
		font-family: noto-sans-cjk-jp, sans-serif;

		p:nth-child(1) {
			@include font-line(20);
			font-weight: 700;
			text-align: center;
			font-family: noto-sans-cjk-jp, sans-serif;
			margin-bottom: 30px;
		}

		p {
			position: relative;
		}

		span {
			background: linear-gradient(transparent 68%, #ff0 0%);
		}

		// span:before {
		// 	position: absolute;
		// 	background: #fafa00;
		// 	content: "";
		// 	height: 16px;
		// 	width: 403px;
		// 	z-index: -1;
		// 	bottom: 0;
		// 	top: 34px;

		// }
	}

	.title-primary {
		color: #006795;
	}

	&__cont_flex {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		// margin-top: -105px;
		// position: relative;

		.br_sp {
			display: none;

			@include is-sp {
				display: block;
			}
		}

		.br_sp-1 {
			display: none;

			@include is-max(480px) {
				display: block;
			}
		}

		.pc {
			display: none;

			@include is-pc {
				display: block;
			}
		}

		.sp {
			display: none;

			@include is-sp {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.txt_list {
			color: #006795;

			@include is-sp {
				color: #000;
			}
		}

		@include is-sp {
			flex-direction: column;
		}

		.mt-44 {
			margin-top: 44px;

			@include is-sp {
				margin-top: 37px;
			}
		}

		img {
			width: 100%;
		}

		.mb-30 {
			@include is-sp {
				margin-bottom: 30px;
			}
		}

		.desc {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			// @include is-sp {

			// 	desc:nth-child(0),
			// 	:nth-child(1),
			// 	:nth-child(2) {
			// 		padding-bottom: 42px;
			// 	}
			// }


			@include is-max(1090px) {
				align-items: baseline;
			}

			.txt_list {
				@include font-line(25);
				font-weight: 400;
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				letter-spacing: -1.1px;

				@include is-sp {
					@include font-line(22);
				}
			}
		}

		.cont_person {
			// position: relative;
			// margin-left: 76px;
			margin-left: 20px;
			position: relative;

			@include is-pc {
				margin-top: 175px;
			}

			@include is-sp {
				margin-top: 45px;
				margin-left: 0;
				// width: 100%;
				// text-align: center;
				// display: flex;
				// flex-direction: column;
				// align-items: center;
			}

			// @include is-max(515px) {
			// 	width: 65%;
			// }

			.mssg {
				position: absolute;
				// right: -23%;
				left: -8%;
				width: 172px;
				height: auto;
				top: -50%;
				// right: -23%;
				// top: -153px;
				// right: -30px;

				@include is-max(1090px){
					left: 0;
				}

				@include is-sp {
					position: relative;
					width: 336px;
					top: -20px;
					left: 0;
					margin-left: auto;

				}

				// @include is-max(751px) {
				// 	right: -9%;
				// 	top: -39%;
				// }

				// @include is-max(515px) {
				// 	width: 59%;
				// 	right: -27%;
				// }

				img {
					width: 100%;

				}
			}


			img {
				@include is-pc {
					width: 100%;
				}
			}
		}


		.icon {
			width: 25px;
			height: 20px;
			padding-right: 3px;
			margin-top: 5px;
		}

		.person {
			width: 296px;
			height: auto;

			@include is-max(295px) {
				width: 100%;
			}
		}

		.txt {
			@include font-line(18);
			font-weight: 400;
			text-align: left;
			font-family: noto-sans-cjk-jp, sans-serif;
		}

		.mt-65 {
			margin-top: 65px;

			@include is-sp {
				margin-top: -60px;
			}

			@include is-max(410px) {
				margin-top: -20px;
			}
		}

		.txt_cont {
			position: relative;

			.rakue_img {
				width: 176px;
				height: auto;
			}

			.circle_icon {
				position: absolute;
				width: 211px;
				height: auto;
				right: -13px;
				top: -48px;

				@include is-max(1090px){
					top: 0;
				}

				@include is-sp {
					top: -12%;
					position: absolute;
					width: 211px;
					left: 48%;
				}
			}

			p:nth-child(1) {
				@include font-line(32);
				font-weight: 700;
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				color: #006795;
				padding-bottom: 10px;
				width: calc(100% - 200px);

				@include is-sp {
					width: 100%;
				}
			}

			// @include is-sp {
			// 	display: none;
			// }
		}

		.cont_desc {
			width: calc(100% - 315px);

			@include is-sp {
				width: 100%;
			}
		}
	}
}
