.sect_7 {

    &__wrapper {
        
        padding-top: 118px;
        padding-bottom: 130px;

        @include is-max(950px) {
            padding-bottom: 0;
        }

        @include is-sp {
            padding-top: 100px;
        }
        
        .l-wrap {

            width: 1140px;
            position: relative;

            @media(max-width: 1090px) {
                width: 100%;
                padding: 0 60px;
            }

            @include is-max(950px) {
                padding: 0 60px;
                width: 100%;
                position: relative;
                padding-bottom: 385px;
            }

            .heading {
                position: relative;
                width: 215px;
                margin: 0 auto;

                p {
                    color: #006795;
                    @include font-line(32);
                    font-weight: 700;
                    font-family: Noto Sans CJK JP;
                    text-align: center;
                    
                }
                

                &::after {
                    content: '';
                    width: 95%;
                    background: #FAFA00;
                    height: 16px;
                    position: absolute;
                    bottom: 3px;
                    z-index: -1;
                    margin-left: 6px;
                }

            }

            .girl {
                position: absolute;
                top: -28px;

                @include is-max(950px) {
                   display: none;
                }
              
            }

            // for sp
            .girl_sp {
                position: absolute;
                display: none;

                @include is-max(950px) {
                    bottom: 105px;
                    display: block;
                    left: 50%;
                    transform: translateX(-75%);
                }

                @include is-max(450px) {
                    left: 61%;
                }

                @include is-max(380px) {
                    left: 63%;
                }

                @include is-max(360px) {
                    left: 71%;
                }
              
            }


            .row {
                padding-top: 75px;
                display: flex;
                margin-left: 93px;

                @include is-max(1050px) {
                    margin-left: 125px;
                }

                @include is-max(950px) {
                    padding-top: 60px;
                    margin-left: 0;
                    flex-direction: column;
                }

                .col {
                    // width: 27%;
                    width: 280px;
                    margin-left: 55px;

                    @include is-max(1090px) {
                        margin-left: 25px;
                    }

                    @include is-max(950px) {
                        width: 100%;
                        margin: 0 auto;
                        padding-bottom: 77px;
                    }
                    

                    .col_heading {
                        position: relative;
                        width: 110%;
                        height: 110px;
                        background: #006795;
                        border-radius: 96px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include is-max(1090px) {
                            width: 100%;
                            height: 80px;
                        }

                        @include is-max(950px) {
                            width: 360px;
                            margin: 0 auto;
                        }

                        @include is-max(480px) {
                            width: 100%;
                        }

                        img {
                            position: absolute;
                            bottom: -11px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        p {
                            @include font-line(20);
                            font-weight: 700;
                            font-family: Noto Sans CJK JP;
                            color: #FAFA00;

                            @include is-max(1090px) {
                                 font-size: 1.3020833333333333vw;
                            }

                            @include is-max(950px) {
                                @include font-line(20);
                           }

                           @include is-max(480px) {
                            font-size: 4.302083vw;
                        }

                           
                           

                        }
                    }


                    .col_body {
                        @include font-line(18);
                        font-weight: 300;
                        font-family: Noto Sans CJK JP;
                        color: #006795;
                        padding-top: 30px;

                        @include is-max(1090px) {
                            font-size: 1.171875vw;
                       }

                       @include is-max(950px) {
                        @include font-line(18);
                       }

                       @include is-max(400px) {
                        font-size:  4.171875vw;
                     }

                    }

                }

            }

        }

    }

}