.sect_1 {
	&__wrapper {
		padding-bottom: 60px;

		@include is-sp{
			padding-bottom: 50px;
		}

		.slick-prev {
			display: none !important;
		}

		.slick-next {
			display: none !important;
		}

		.images {
			display: flex;
			padding: 0 0 60px 0;

			.img {
				width: calc(100% / 5);
			}

			.img img {
				width: 100%;
			}

			@include is-sp{
				padding: 0 0 70px 0;
			}
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include is-sp {
				flex-direction: column-reverse;
			}

			&__col-1 {
				width: 36.7%;
				img {
					width: 100%;
				}

				@include is-sp {
					width: 100%;
					padding: 20px 0 0 0;
				}
			}

			&__col-2 {
				width: 55.05%;

				@include is-max(1090px){
					padding-right: 30px;
				}

				@include is-sp {
					width: 100%;
					padding-right: 0
				}

				.title_cont {
					position: relative;

					@include is-sp {
						margin: 0 auto;
					}

					.title {
						color: #006795;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						background: linear-gradient(0deg, #fafa00 0%, #fafa00 30%, rgba(255,255,255,0) 30%);
						@include font-line(30);

						span{
							&:nth-of-type(1){
								@include font-line(44);
							}
							&:nth-of-type(2){
								@include font-line(30);
								margin-left: -15px;
							}
						}

						span {
							font-family: noto-sans-cjk-jp, sans-serif;
							@include font-line(44);
							font-weight: 700;

							@include is-sp {
								@include font-line(44);
							}

							@include is-max(425px) {
								@include font-line(39);
							}

							@include is-max(375px) {
								@include font-line(44);
							}
						}
						br {
							display: none;

							@include is-max(480px) {
								display: block;
							}
						}
					}
				}

				.desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					padding: 35px 0 0 0;

					@include font-line(18);
				}
			}
		}
	}
}
