.sect_5 {
	// overflow: hidden;
	position: relative;
	.l-wrap {
		@include is-sp{
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__wrapper {
		background-color: #fae100;
		padding: 25px 0;
		// margin: 50px 0;
	}
}
