.sect_8{
    &__wrapper{
        padding-top: 110px;
        padding-bottom: 120px;
        background-color: #e9eeee;

        @include is-sp{
            padding-top: 60px;
            padding-bottom: 50px;
        }

        .l-wrap{
            @include is-pc{
                width: 760px;
            }

            @include is-max(770px){
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
            }
            
            &__header{
                font-family: noto-sans-cjk-jp, sans-serif;
                font-weight: 700;
                @include font-line(32);
                color: #006795;
                text-align: center;

                &.m-b-60{
                    margin-bottom: 60px;

                    @include is-sp{
                        margin-bottom: 30px;
                    }
                }

                br{
                    display: none;
                    @include is-max(350px){
                        display: block;
                    }
                }
                
            }
            &__desc{
                font-family: noto-sans-cjk-jp, sans-serif;
                font-weight: 400;
                @include font-line(16, 26.4);
                color: #000;
                
                &.w-620{
                    width: 700px;
                    margin: 0 auto;

                    @include is-max(770px){
                        width: 100%;
                    }
                }

                &.m-b-80{
                    margin-bottom: 80px;

                    @include is-sp{
                        margin-bottom: 50px;
                    }
                }
            }

            .form_container{
                .wpcf7 form .wpcf7-response-output {
                    margin: 2em auto 1em;
                }

                label{
                    font-family: noto-sans-cjk-jp, sans-serif;
                    font-weight: 700;
                    @include font-line(18);
                    color: #000;
                    position: relative;

                    span{
                        font-family: noto-sans-cjk-jp, sans-serif;
                        font-weight: 700;
                        @include font-line(12);
                        color: #006795;
                        position: relative;
                        top: -5px;
                    }
                }

                input[type="text"],
                input[type="email"],
                input[type="tel"],
                textarea
                {
                    background-color: #fff;
                    color: #000;
                    width: 100%;
                    padding: 10px 15px;
                    border: none;
                    font-family: noto-sans-cjk-jp, sans-serif;
                    font-weight: 700;
                    @include font-line(18);
                    color: #000;
                }

                .btn_container{
                    text-align: center;
                    width: 440px;
                    margin: 50px auto 0;

                    @include is-sp{
                        margin-top: 20px;
                    }

                    @include is-max(500px){
                        width: 100%;
                    }

                    input[type="submit"]{
                        background-color: #464646;
                        color: #fff;
                        font-family: noto-sans-cjk-jp, sans-serif;
                        font-weight: 700;
                        @include font-line(16);
                        width: 100%;
                        padding: 15px 0;
                    }
                    input[value="送信"]{
                        background-color: #464646;
                    }

                    input[type="button"]{
                        background-color: #E53333;
                        color: #fff;
                        font-family: noto-sans-cjk-jp, sans-serif;
                        font-weight: 700;
                        @include font-line(16);
                        width: 100%;
                        padding: 15px 0;
                        margin-bottom: 20px;
                    }
                }
                

                .form-group-1{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 15px;

                    @include is-sp{
                        margin-bottom: 25px;
                    }

                    .row{
                        &:nth-of-type(1){
                            width: 200px;
                            padding-top: 10px;
                            @include is-sp{
                                width: 100%;
                                margin-bottom: 15px;
                                padding-top: 0;
                            }
                        }
                        &:nth-of-type(2){
                            width: calc(100% - 200px);

                            @include is-sp{
                                width: 100%;
                            }
                        }
                    }
                }
                .form-group-2{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 40px;

                    @include is-sp{
                        margin-top: 25px;
                    }

                    .row{
                        &:nth-of-type(1){
                            width: 100%;
                            margin-bottom: 15px;
                            label{
                                font-weight: 400;
                            }
                        }
                        &:nth-of-type(2){
                            width: 100%;

                        }
                    }
                }
            }
        }
    }
}