.sect_6 {

    background-color: #006795;

    &__wrapper {
        overflow: hidden;
        padding-bottom: 110px;

        @include is-max(920px){
            padding-bottom: 50px;
        }

        @include is-sp {
            padding-bottom: 0;
        }

        .l-wrap {

            @include is-max(1090px) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include is-sp{
                padding-left: 60px;
                padding-right: 60px;
            }

            @include is-max(440px){
                padding-left: 30px;
                padding-right: 30px;
            }
            
            // heading
            .heading {
                
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 80px;
                padding-bottom: 82px;

                @media (max-width: 751px) {
                   padding-top: 83px;
                   padding-bottom: 45px;

                 }

                .pc {

                    @media (max-width: 920px) {
                        display: none;
                    }
                }

                .sp {
                    display: none;

                    @media (max-width: 920px) {
                        display: block;
                    }
                }

            }

            // row
            .row {

                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @media (max-width: 920px) {
                    padding-bottom: 9px;
                }

                // column 1
                .col {   
                    width: 27.52%;
                    position: relative;

                    @media (max-width: 920px) {
                        padding-top: 62px;
                        padding-bottom: 75px;
                    }

                   

                    .yellow_line_sp {
                        display: none;
                        width: 130vw;
                        position: absolute;
                        height: 2px;
                        top: 0;
                        background-color: #FAFA00;
                        transform: translateX(-17%);

                        @media (max-width: 920px) {
                            display: block;
                        }

                    }

                    @include is-max(1090px) {
                       width: 30%;
                    }

                    @include is-max(920px) {
                        width: 100%;
                        padding-bottom: 80px;
                    }

                    @include is-sp{
                        width: 100%;
                    }

                    .col_heading {
                        @include is-max(920px) {
                            text-align: center;
                    
                            img {
                                width: 360px;
                            }

                        }

                        .pc {

                            @media (max-width: 920px) {
                                display: none;
                            }

                        }

                        .sp {

                            display: none;

                            @media (max-width: 920px) {
                                display: block;
                                width: 360px;
                                margin: 0 auto;
                            }

                        }

                        @include is-sp {
                            width: 100%;
                        }
                    }

                    &:not(:first-child){
                        .body {
                            padding: 50px 0 40px; 

                            @include is-sp{
                                padding: 35px 0 40px;
                            }

                        }
                    }
                    
        
                    .body {
                        padding: 40px 0 40px;

                        @include is-sp{
                            padding: 40px 0 0;
                        }

                        div {
                            display: flex;
                            align-items: baseline;
                            
                            img {
                                padding-right: 5px;
                            }

                            p {

                                @media (max-width: 920px) {
                                   br {
                                       display: none;
                                   }
                                }

                                @include font-line(22);
                                font-weight: 500;
                                font-family: Noto Sans CJK JP;
                                color: #fff;
                                letter-spacing: 0;

                                span {
                                    color: #FAFA00;
                                }

                            }

                        }

                        .sm_text {
                            align-items: baseline;

                            p {

                                @include font-line(18);
                                font-weight: 300;
                                font-family: Noto Sans CJK JP;
                                color: #fff;
                                line-height: 29.7px;
                                letter-spacing: 0;

                                br {
                                    display: block;
                                }

                            }

                        }
                        
                    }

                    .line {
                        border: 2px dotted white;
                        display: block;
                    }

                    .footer {
                        padding-top: 30px;

                        .sm_text {
                            display: flex;
                            align-items: baseline;
                            
                            img {
                                padding-right: 5px;
                            }

                            p {
                                @include font-line(18);
                                font-weight: 300;
                                font-family: Noto Sans CJK JP;
                                color: #fff;
                                line-height: 29.7px;
                                letter-spacing: -1px;

                                // @media (max-width: 920px) {
                                //     br {
                                //         display: none;
                                //     }
                                //  }
                            }

                        }

                    }

                }
                // column 2
                // .col_2 {   

                //     @include is-max(1090px) {
                //        width: 30%;
                //     }

                //     @include is-max(850px) {
                //         width: 48%;
                //         padding-bottom: 80px;
                //      }

                //      .col_heading {
                //         @include is-max(850px) {
                //             text-align: center;
                       
                //                 img {
                //                     width: 300px;
                //                  }

                //          }

                //          @include is-sp {
                //              width: 100%;

                //          }
                //      }
        

                //     &__body {


                //         padding: 55px 0;

                //         div {
                //             display: flex;
                //             align-items: center;
                            
                //             img {
                //                 padding-right: 5px;

                //             }

                //             p {
                //                 @include font-line(22);
                //                 font-weight: 500;
                //                 font-family: Noto Sans CJK JP;
                //                 color: #fff;
                //                 letter-spacing: -1px;

                //                 @include is-max(1090px) {
                //                     width: 100%;
                //                     font-size: 18px;
                //                  }

                //                  @include is-max(850px) {
                //                     font-size: 27.5px;
                //                  }

                //                  @include is-max(450px) {
                //                     font-size: 24.5px;
                //                  }

                //                  @include is-max(405px) {
                //                     font-size: 20.5px;
                //                  }

                //                  @include is-max(362px) {
                //                     font-size: 16.5px;
                //                  }

                //             }

                //             &:first-child {
                //                 padding-bottom: 16px;
                //             }

                //             &:nth-child(2) {
                //                 padding-bottom: 16px;
                //             }

                //         }
                        
                //     }

                //     p {
                //         width: 300px;
                //         @include font-line(18);
                //         letter-spacing: 2px;
                //         font-weight: 300;
                //         font-family: Noto Sans CJK JP;
                //         color: #fff;
                //         line-height: 29px;

                //         @include is-max(1090px) {
                //             width: 100%;
                //             font-size: 18px;
                //          }

                //          @include is-sp {
                //              font-size: 18px;
                //          }

                //          @include is-max(362px) {
                //             font-size: 16px;
                //          }


                //     }

                // }
                // column 3
                // .col_3 {   

                //     @include is-max(1090px) {
                //        width: 30%;
                //     }

                //     @include is-max(850px) {
                //         width: 48%;
                //      }

                //      .col_heading {
                //         @include is-max(850px) {
                //             text-align: center;
                       
                //                 img {
                //                     width: 300px;
                //                  }

                //          }

                //          @include is-sp {
                //              width: 100%;

                //          }
                //      }
        

                //     &__body {


                //         padding: 55px 0;

                //         div {
                //             display: flex;
                //             align-items: center;
                            
                //             img {
                //                 padding-right: 5px;

                //             }

                //             p {
                //                 @include font-line(22);
                //                 font-weight: 500;
                //                 font-family: Noto Sans CJK JP;
                //                 color: #fff;
                //                 letter-spacing: -1px;

                //                 @include is-max(1090px) {
                //                     width: 100%;
                //                     font-size: 18px;
                //                  }

                //                  @include is-max(850px) {
                //                     font-size: 27.5px;
                //                  }

                //                  @include is-max(450px) {
                //                     font-size: 24.5px;
                //                  }

                //                  @include is-max(405px) {
                //                     font-size: 20.5px;
                //                  }

                //                  @include is-max(362px) {
                //                     font-size: 16.5px;
                //                  }

                //             }

                //             &:first-child {
                //                 padding-bottom: 16px;
                //             }

                //             &:nth-child(2) {
                //                 padding-bottom: 16px;
                //             }

                //         }
                        
                //     }

                //     p {
                //         width: 300px;
                //         @include font-line(18);
                //         letter-spacing: 2px;
                //         font-weight: 300;
                //         font-family: Noto Sans CJK JP;
                //         color: #fff;
                //         line-height: 29px;

                //         @include is-max(1090px) {
                //             width: 100%;
                //             font-size: 18px;
                //          }

                //          @include is-sp {
                //              font-size: 18px;
                //          }

                //          @include is-max(362px) {
                //             font-size: 16px;
                //          }


                //     }

                // }



            }

        }

    }

}