.sect_1 {
	&__wrapper {
		padding-bottom: 60px;

		@include is-sp {
			padding-bottom: 50px;
		}

		.slick-prev {
			display: none !important;
		}

		.slick-next {
			display: none !important;
		}

		.cont_slider {
			.img{
				img{
					width: 100%;
				}
			}
			// display: flex;

			// .img {
			// 	width: calc(100% / 5);
			// }

			// .img img {
			// 	width: 100%;
			// }
		}

		.content_1 {
			width: 100%;
			padding: 30px 0 60px 0;
			background: #e9eeee;

			.l-wrap {
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
			}

			&__col-1 {
				width: 15%;

				@include is-sp {
					width: 100%;
					position: relative;
					margin-top: -60px;
				}

				img {

					&:nth-of-type(1) {
						display: block;
						width: 100%;

						@include is-sp {
							display: none;
						}
					}

					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
							margin: 0 auto;
							width: 172px;
						}
					}
				}
			}

			&__col-2 {
				width: 72%;
				padding-top: 16px;

				@include is-sp {
					width: 100%;
					padding-top: 40px;
				}

				p {
					&:nth-of-type(1) {
						color: #006795;
						font-weight: 700;
						@include font-line(20);
					}

					&:nth-of-type(2) {
						color: #006795;
						font-weight: 500;

						@include font-line(18);
					}

					&:nth-of-type(3) {
						color: #006795;
						font-weight: 700;
						padding-top: 30px;

						@include font-line(20);
					}

					&:nth-of-type(4) {
						font-weight: 500;

						@include font-line(18);
					}

					&:nth-of-type(5) {
						color: #006795;
						font-weight: 700;
						padding-top: 30px;

						@include font-line(20);
					}

					&:nth-of-type(6) {
						font-weight: 500;

						@include font-line(18);
					}
				}
			}
		}

		.content_2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 50px 0 0 0;

			@include is-sp {
				flex-direction: column-reverse;
			}

			&__col-1 {
				width: 40%;

				img {
					width: 100%;
				}

				@include is-sp {
					width: 100%;
					padding: 20px 0 0 0;
				}
			}

			&__col-2 {
				width: 56%;

				@include is-max(1090px) {
					padding-right: 30px;
				}

				@include is-sp {
					width: 100%;
					padding-right: 0;
				}

				.ttl_min {
					color: #006795;
					font-weight: 700;
					@include font-line(20);

					@include is-sp {
						text-align: center;
					}

					.br-is-sp {
						display: none;

						@include is-sp {
							display: block;
						}
					}
					.br-is-max {
						display: none;

						@include is-max(405px) {
							display: block;
						}
					}
				}
				.title_cont {
					position: relative;
					margin: 20px auto 0;

					@include is-sp {
						margin: 30px auto 0;
						text-align: center;
					}

					.title {
						color: #006795;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						background: linear-gradient(
							0deg,
							#fafa00 0%,
							#fafa00 40%,
							rgba(255, 255, 255, 0) 20%
						);
						@include font-line(30);

						@include is-sp{
							line-height: 30px;
						}

						span {
							
							&:nth-of-type(1) {
								img{
									width: 245px;
									margin-top: -10px;
									margin-left: 10px;
									@include is-sp{
										margin-left: 0;
									}
								}
							}
							&:nth-of-type(2) {
								@include font-line(18);
								margin-left: 5px;
								@include is-sp{
									margin-left: 0;
								}
							}
						}

						// span {
						// 	font-family: noto-sans-cjk-jp, sans-serif;
						// 	@include font-line(44);
						// 	font-weight: 700;

						// 	@include is-sp {
						// 		@include font-line(44);
						// 	}

						// 	@include is-max(425px) {
						// 		@include font-line(39);
						// 	}

						// 	@include is-max(375px) {
						// 		@include font-line(44);
						// 	}
						// }
						br {
							display: none;

							@include is-max(450px) {
								display: block;
							}
						}
					}
				}

				.desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 500;
					padding: 35px 0 0 0;
					letter-spacing: 1px;
					@include font-line(18);
				}
			}
		}
	}
}
