.sect_7 {

    &__wrapper {
        
        padding-top: 120px;
        padding-bottom: 22px;

        @include is-max(900px) {
            padding-top: 80px;
            padding-bottom: 60px;
        }

        .l-wrap {
            width: 1140px;
            position: relative;
            // padding-right: 30px;

            @include is-max(1140px) {
                width: 100%;
            }

            @include is-max(1090px) {
                padding-right: 30px;
                padding-left: 30px;
            }

            @include is-sp{
                padding-right: 60px;
                padding-left: 60px;
            }

            @include is-max(425px) {
                padding-right: 30px;
                padding-left: 30px;
            }

            .heading {
                position: relative;
                width: 215px;
                margin: 0 auto;

                p {
                    color: #006795;
                    @include font-line(32);
                    font-weight: 700;
                    font-family: Noto Sans CJK JP;
                    text-align: center;
                    
                }
                

                &::after {
                    content: '';
                    width: 95%;
                    background: #FAFA00;
                    height: 16px;
                    position: absolute;
                    bottom: 3px;
                    z-index: -1;
                    margin-left: 6px;
                }

            }

            .girl {
                position: absolute;
                top: -45px;
                left: 0;
                @include is-max(900px) {
                    display: none;
                }
              
            }

            // for sp
            .girl_sp {
                display: none;
                margin: 0 auto;
                @include is-max(900px) {
                    display: block;
                }
              
            }


            .row {
                width: 760px;
                padding-top: 75px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;

                @include is-max(1090px) {
                    // width: 85.09%;
                    margin: 0 0 0 auto;
                }

                @include is-max(950px) {
                    width: 730px;
                }

                @include is-max(900px) {
                    width: 100%;
                }

                @include is-sp{
                    padding-top: 60px;
                }

                .col {
                    width: 340px;
                    padding-bottom: 82px;

                    // @include is-max(1090px){
                    //     width: 38%;
                    // }

                    @include is-max(900px) {
                        width: 100%;
                        margin-right: 0;
                        padding-bottom: 68px;

                        &:nth-child(even) {
                            br {
                                display: none;
                            }
                        }

                    }

                    .col_heading {
                        position: relative;
                        width: 100%;
                        padding-top: 27px;
                        padding-bottom: 23px;
                        background: #006795;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include is-max(900px) {
                            height: 100px;
                        }

                        img {
                            position: absolute;
                            bottom: -11px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        p {
                            @include font-line(20, 30);
                            font-weight: 700;
                            font-family: noto-sans-cjk-jp, sans-serif;
                            color: #FAFA00;
                            text-align: center;

                            @include is-max(375px) {
                                @include font-line(18, 30);
                            }

                        }

                    }
                    .col_body {
                        @include font-line(18, 29.7);
                        font-weight: 400;
                        font-family: noto-sans-cjk-jp, sans-serif;
                        color: #006795;
                        padding-top: 30px;

                        @include is-max(900px) {
                            padding-top: 37px;
                        }

                    }

                }

            }

        }

    }

}